@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: auto;
}

body header {
  height: 17em;
  padding-top: 12em;
  background: linear-gradient(to right, rgba(0, 222, 180, 0.7), rgba(222, 102, 0, 0.7)), url(img4.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Fjalla One", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

body h1 {
  font-size: 50px;
  width: 80%;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body h1 {
    font-size: 40px;
  }
}

.destination_search {
  width: 100%;
  position: absolute;
  height: 9em;
  margin-top: -5em;
  display: flex;
  justify-content: center;
}

.destination_search form {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #ffffff;
  border-radius: 2em;
  box-shadow: 0px 1px 7px 1px #88888847;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .destination_search form {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .destination_search form {
    width: 90%;
  }
}

.destination_search form .trip_destination {
  margin-left: 8%;
  width: 44%;
  font-family: "Open Sans", sans-serif;
  color: #de6600;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .destination_search form .trip_destination {
    width: 50%;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .destination_search form .trip_destination {
    margin-left: 3%;
    width: 42%;
  }
}

.destination_search form .trip_destination input {
  width: 90%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-indent: 6px;
  font-size: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .destination_search form .trip_destination input {
    width: 100%;
    text-indent: 0.5em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .destination_search form .trip_destination input {
    text-indent: 0.5em;
  }
}

.destination_search form .trip_destination input:focus {
  outline: none;
}

.destination_search form .trip_destination input::placeholder {
  color: #a3a2a2b4;
}

.destination_search form .departure_date {
  width: 25%;
  font-family: "Open Sans", sans-serif;
  color: #de6600;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .destination_search form .departure_date {
    width: 47%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .destination_search form .departure_date {
    margin-left: 3%;
    width: 28%;
  }
}

.destination_search form .departure_date input {
  width: 80%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-indent: 6px;
  font-size: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .destination_search form .departure_date input {
    width: 93%;
    text-indent: 0.5em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .destination_search form .departure_date input {
    width: 92%;
    text-indent: 0.5em;
  }
}

.destination_search form .departure_date input:focus {
  outline: none;
}

.destination_search form .departure_date input::placeholder {
  color: #a3a2a2b4;
}

.destination_search form .departure_date i.far.fa-calendar {
  position: absolute;
  margin-left: -36px;
  font-size: 27px;
  padding-top: 9px;
  cursor: pointer;
}

.destination_search form button {
  width: 15%;
  height: 2.2em;
  color: #ffffff;
  border-radius: 2em;
  border: none;
  background: #de6600;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .destination_search form button {
    width: 38%;
    margin-top: 0;
    font-size: 20px;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .destination_search form button {
    width: 21%;
  }
}

.search_results {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results {
    height: 35em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .search_results {
    height: 33em;
  }
}

.search_results .card {
  width: 80%;
  height: 25em;
  background: #ffffff;
  margin-top: 10%;
  border-radius: 3em;
  box-shadow: 0px 1px 7px 1px #88888847;
  display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .search_results .card {
    margin-top: 15%;
    height: 22em;
    width: 90%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card {
    width: 95%;
    height: 30em;
    margin-top: 22%;
    display: block;
  }
}

.search_results .card figure {
  width: 60%;
  height: 25em;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card figure {
    width: 100%;
    height: 15em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .search_results .card figure {
    height: 22em;
  }
}

.search_results .card figure img {
  height: 25em;
  width: 100%;
  border-radius: 3em;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .search_results .card figure img {
    height: 22em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card figure img {
    width: 100%;
    height: 15em;
  }
}

.search_results .card .destination_description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #92908e;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description {
    width: 100%;
  }
}

.search_results .card .destination_description .top_box {
  height: 10em;
  text-align: center;
  line-height: 2;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
}

.search_results .card .destination_description .top_box .destination_time {
  color: #59b398;
  font-size: 18px;
}

.search_results .card .destination_description .top_box h3 {
  font-family: "Fjalla One", sans-serif;
  color: #de6600;
  font-size: 35px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description .top_box h3 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description .top_box {
    height: 6.5em;
    line-height: 2;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
}

.search_results .card .destination_description .middle_box {
  height: 8em;
  text-align: center;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .search_results .card .destination_description .middle_box {
    height: 9em;
    line-height: 2.5;
  }
}

.search_results .card .destination_description .middle_box .destination_weather {
  display: flex;
}

.search_results .card .destination_description .middle_box .destination_weather .temp {
  width: 50%;
  font-size: 45px;
  color: #de6600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description .middle_box .destination_weather .temp {
    display: block;
    font-size: 27px;
  }
}

.search_results .card .destination_description .middle_box .destination_weather .icon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_results .card .destination_description .middle_box .destination_weather .icon img {
  width: 90%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description .middle_box .destination_weather .icon img {
    width: 76%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description .middle_box .destination_weather .icon {
    display: block;
    width: 36%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search_results .card .destination_description .middle_box {
    height: 5em;
  }
}

.search_results .card .destination_description .save_button {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.search_results .card .destination_description .save_button button {
  width: 38%;
  height: 2.2em;
  color: #ffffff;
  border-radius: 2em;
  border: none;
  background: #59b398;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .search_results .card .destination_description .save_button button {
    width: 53%;
  }
}

footer {
  height: 5em;
  background: #de6600;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */